<!DOCTYPE html>
<html>
  <head>
    <title>Savvy IT - Eduardo Bertrand</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/d7e37ce95a.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header id="main-nav" class="clearfix">
      <style>
        .avatar {
          margin-top: -15px;
          margin-right: -10px;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          border-style: solid;
          border-color: #8bc6db;
          position: fixed;
          }

         .name{
          margin-left: 70px;
         } 
        
      </style>
      <img src="https://lh3.googleusercontent.com/a-/AFdZucrwea9mM5G54xUh_woZkvb3JZnYXmeSokCz3EF3=s544-p-k-rw-no" alt="Avatar" class="avatar">
      <%= link_to "Savvy IT - Eduardo B.", root_path, class: "name" %>
      <nav>
        <%= link_to "Articles", posts_path %>
        <%= link_to "Projects", projects_path %>
        <%= link_to "Contact", new_contact_path %>
      </nav>
    </header>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% elsif alert %>  
      <p class="alert"><%= alert %></p>
     <% end %> 

    <%= yield %>

    <footer id="main_footer">
    <p class="copyright">&copy; 2022 Eduardo Bertrand</p>
    <nav>
      <a href="https://github.com/Knightmare4u" target="_blank"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.linkedin.com/in/eduardo-bertrand-617843160/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://www.facebook.com/Bertrand1410" target="_blank"><i class="fa-brands fa-facebook"></i></a>
    </nav>
  </footer>

  </body>
</html>
